version: v1alpha1
metadata:
  name: nvidia-open-modules
  version: "{{ .VERSION }}"
  author: shrinedogg
  description: |
    [{{ .TIER }}] Latest NVIDIA open GPU kernel modules built against a specific Talos kernel.
  compatibility:
    talos:
      version: ">= v1.13.0"
